PUBLIC_URL=<your-public-url>
PUBLIC_MEDIA_URL=<your-public-media-url>
PRIVATE_WRANGLER_COMPATIBILITY_DATE=<PRIVATE_WRANGLER_COMPATIBILITY_DATE>
PRIVATE_WRANGLER_COMPATIBILITY_FLAGS=<PRIVATE_WRANGLER_COMPATIBILITY_FLAGS>
PRIVATE_WRANGLER_WORKER_NAME=<PRIVATE_WRANGLER_WORKER_NAME>
